# Data
/data/

# Experiments outputs
/experiments/

# PyTorch & Machine Learning Checkpoints
*.ckpt
*.pt
*.pth
*.onnx

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
data/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
test_env/
env/
venv/
.env/

# Environment
.env

# Logs & outputs
*.log
pip_log.txt
output.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.kilo/
